---
import Page from "../../../layouts/Page.astro";
import EvaluationSummary from "../../../components/EvaluationSummary.astro";

const subtitleHtml =
  'Ecosystem health scored against the <a href="/standards" class="text-accent hover:underline">standards</a>.';
---

<Page title="Pipeline Summary" subtitleHtml={subtitleHtml}>
  <div class="space-y-6">
    <EvaluationSummary />
  </div>
</Page>
